#activity {
    height: 100vh;
    grid-template-rows: 1fr 3fr;
}

@media only screen and (max-width:768px) {
    #activity {
        &>section:first-child{
            padding: 0 2rem;
            &>span:first-child{
                font-size: 1.7rem;
            }
        }
        &>section:last-child{
            &>section{
                padding: 0 1rem;
            }
        }
    }
}