@import "../var";
#HOME{
    // background-color: blue;
    height: 100-($navbarHeightDesktop);
}
#MAIN{
    // background-color: yellow;
    height: $mainPageHeightDesktop;
}
@media only screen and (max-width:768px){
    #HOME{
        height: 100-($navbarHeightMobile);
    }
    #MAIN{
    }
}