@import "../var";

#HOME {
    height: calc(100vh - $navbarHeightDesktop);
    display: grid;
    grid-template-rows: 7fr 3fr;

    &>section {
        &:nth-child(1) {
            display: grid;
            align-items: flex-end;
            width: 100%;

            &>div {
                display: grid;
                grid-template-rows: 5fr 4fr;
                background-color: map-get($quadratic, charcoal);
                height: 70%;
                width: 100%;

                &>section {
                    width: 100%;
                    display: inherit; // Inherit display: grid
                    align-items: center;
                    justify-content: center;

                    &:nth-child(1) {
                        &>header {
                            font-size: 5rem;
                            color: white;
                        }
                    }

                    &:nth-child(2) {
                        width: 100%;
                        padding: 1rem 5rem;
                        text-align: center;
                        color: white;
                    }
                }
            }
        }

        &:nth-child(2) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);

            &>div {
                display: flex;

                &:nth-child(1) {
                    grid-auto-flow: column;
                    grid-gap: 1rem;
                    justify-content: end;
                    margin-right: 2rem;
                    align-items: center;

                    &>a {
                        border: 2px solid map-get($quadratic, oxford-blue);
                        padding: 0.5rem 2rem;
                        border-radius: 100px;
                        font-size: 2rem;
                        color: map-get($quadratic, charcoal);
                        position: relative;
                        overflow: hidden;
                        text-decoration: none;
                        transition: color 0.4s ease;

                        &:hover {
                            color: white;
                        }

                        &:before {
                            content: '';
                            position: absolute;
                            top: -100%;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            background: map-get($quadratic, oxford-blue);
                            transition: top 0.4s ease;
                            z-index: 0;
                        }

                        &:hover:before {
                            top: 0;
                        }

                        &>i {
                            position: relative;
                            z-index: 1;
                        }
                    }
                }

                &:nth-child(2) {
                    justify-content: start;

                    &>button {
                        align-self: center;
                        border: 2px solid map-get($quadratic, oxford-blue);
                        outline: none;
                        color: map-get($quadratic, charcoal);
                        font-size: 1.2rem;
                        font-weight: 500;
                        padding: 1rem 6rem;
                        border-radius: 100px;
                        position: relative;
                        overflow: hidden;
                        transition: color 0.4s ease;

                        &:hover {
                            color: white;
                        }

                        &:before {
                            content: '';
                            position: absolute;
                            top: -100%;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            background: map-get($quadratic, charcoal);
                            transition: top 0.4s ease;
                            z-index: 0;
                        }

                        &:hover:before {
                            top: 0;
                        }

                        &>span {
                            position: relative;
                            z-index: 1;
                        }
                    }
                }
            }
        }
    }
}


@media only screen and (max-width: 768px) {
    #HOME {
        height: calc(100vh - $navbarHeightMobile);
        transform: translate(0, $navbarHeightMobile);
        grid-template-rows: 7fr 3fr;

        &>section {
            &:nth-child(1) {
                &>div {
                    height: 80%;
                    grid-template-rows: 2fr 4fr;

                    &>section:nth-child(1) {
                        justify-content: start;
                        align-items: end;
                        padding: 0 2rem;

                        &>header {
                            font-size: 3rem;
                        }
                    }

                    &>section:nth-child(2) {
                        padding: 1.5rem 2rem;
                        text-align: justify;
                        align-items: start;

                        &>header {
                            font-size: 0.9rem;
                        }
                    }
                }
            }

            &:nth-child(2) {
                grid-template-columns: none;
                grid-template-rows: repeat(2, 1fr);

                &>div {
                    &:nth-child(1) {
                        justify-content: center;
                        align-items: end;
                        margin-right: 0;

                        &>a {
                            padding: .5rem 1rem;
                            font-size: 1.5rem;
                        }
                    }

                    &:nth-child(2) {
                        align-items: end;
                        justify-content: center;

                        &>button {
                            padding: .5rem 0;
                            width: 80%;
                            border: 2px solid map-get($quadratic, oxford-blue);
                            outline: none;
                            color: map-get($quadratic, charcoal);
                            font-size: 1rem;
                            font-weight: 500;
                            padding: 1rem 6rem;
                            border-radius: 100px;
                            position: relative;
                            overflow: hidden;
                            transition: color 0.4s ease;

                            &:hover {
                                z-index: 9;
                                color: white;
                            }

                            &:before {
                                content: '';
                                position: absolute;
                                top: -100%;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                background: map-get($quadratic, charcoal);
                                transition: top 0.4s ease;
                                z-index: -1;
                            }

                            &:hover:before {
                                top: 0;
                            }

                            &>span {
                                position: relative;
                                z-index: 1;
                            }
                        }
                    }
                }
            }
        }
    }

    #MAIN {

        height: 200vh;
        grid-template-columns: none;
        &>section:nth-child(1) {
            order: 2;
            grid-template-rows: 1fr 8fr 1fr;
            &>div:nth-child(1){
                &>span{
                    margin-left: 0;
                    padding: 1rem 1.5rem;
                }
            }
            &>div:nth-child(2){
                padding: 1rem 1.5rem;
            }
        }

        &>section:nth-child(2) {
            order: 1;
        }
    }
}