#HOME {
  height: 90vh;
  display: grid;
  grid-template-rows: 7fr 3fr;
}
#HOME > section:nth-child(1) {
  display: grid;
  align-items: flex-end;
  width: 100%;
}
#HOME > section:nth-child(1) > div {
  display: grid;
  grid-template-rows: 5fr 4fr;
  background-color: #294c60;
  height: 70%;
  width: 100%;
}
#HOME > section:nth-child(1) > div > section {
  width: 100%;
  display: inherit;
  align-items: center;
  justify-content: center;
}
#HOME > section:nth-child(1) > div > section:nth-child(1) > header {
  font-size: 5rem;
  color: white;
}
#HOME > section:nth-child(1) > div > section:nth-child(2) {
  width: 100%;
  padding: 1rem 5rem;
  text-align: center;
  color: white;
}
#HOME > section:nth-child(2) {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
#HOME > section:nth-child(2) > div {
  display: flex;
}
#HOME > section:nth-child(2) > div:nth-child(1) {
  grid-auto-flow: column;
  grid-gap: 1rem;
  justify-content: end;
  margin-right: 2rem;
  align-items: center;
}
#HOME > section:nth-child(2) > div:nth-child(1) > a {
  border: 2px solid #001b2e;
  padding: 0.5rem 2rem;
  border-radius: 100px;
  font-size: 2rem;
  color: #294c60;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  transition: color 0.4s ease;
}
#HOME > section:nth-child(2) > div:nth-child(1) > a:hover {
  color: white;
}
#HOME > section:nth-child(2) > div:nth-child(1) > a:before {
  content: "";
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #001b2e;
  transition: top 0.4s ease;
  z-index: 0;
}
#HOME > section:nth-child(2) > div:nth-child(1) > a:hover:before {
  top: 0;
}
#HOME > section:nth-child(2) > div:nth-child(1) > a > i {
  position: relative;
  z-index: 1;
}
#HOME > section:nth-child(2) > div:nth-child(2) {
  justify-content: start;
}
#HOME > section:nth-child(2) > div:nth-child(2) > button {
  align-self: center;
  border: 2px solid #001b2e;
  outline: none;
  color: #294c60;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 1rem 6rem;
  border-radius: 100px;
  position: relative;
  overflow: hidden;
  transition: color 0.4s ease;
}
#HOME > section:nth-child(2) > div:nth-child(2) > button:hover {
  color: white;
}
#HOME > section:nth-child(2) > div:nth-child(2) > button:before {
  content: "";
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #294c60;
  transition: top 0.4s ease;
  z-index: 0;
}
#HOME > section:nth-child(2) > div:nth-child(2) > button:hover:before {
  top: 0;
}
#HOME > section:nth-child(2) > div:nth-child(2) > button > span {
  position: relative;
  z-index: 1;
}

#MAIN {
  transform: translate(0, 10vh);
  height: 100vh;
  display: grid;
  grid-template-columns: 5fr 3fr;
}
#MAIN > section:nth-child(1) {
  grid-template-rows: 1fr 2fr 1fr;
  display: grid;
}
#MAIN > section:nth-child(1) > div:nth-child(1) {
  display: flex;
  align-items: end;
  font-weight: 500;
}
#MAIN > section:nth-child(1) > div:nth-child(1) > span {
  font-size: 2rem;
  margin-left: 4rem;
}
#MAIN > section:nth-child(1) > div:nth-child(2) {
  padding: 4rem;
  line-height: 2rem;
}
#MAIN > section:nth-child(1) > div:nth-child(3) {
  padding-left: 4rem;
  display: flex;
  align-items: start;
}
#MAIN > section:nth-child(1) > div:nth-child(3) > button {
  border: 2px solid #001b2e;
  outline: none;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 0.5rem 6rem;
  border-radius: 100px;
  position: relative;
  overflow: hidden;
  transition: color 0.4s ease;
  color: #294c60;
}
#MAIN > section:nth-child(1) > div:nth-child(3) > button:hover {
  color: white;
  z-index: 2;
}
#MAIN > section:nth-child(1) > div:nth-child(3) > button:before {
  content: "";
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #294c60;
  transition: top 0.4s ease;
  z-index: 1;
}
#MAIN > section:nth-child(1) > div:nth-child(3) > button:hover:before {
  top: 0;
}
#MAIN > section:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
}
#MAIN > section:nth-child(2) > div {
  width: 80%;
  height: 65%;
  border-radius: 4px;
  border: 2px solid #294c60;
}

@media only screen and (max-width: 768px) {
  #HOME {
    height: 90vh;
    transform: translate(0, 10vh);
    grid-template-rows: 7fr 3fr;
  }
  #HOME > section:nth-child(1) > div {
    height: 80%;
    grid-template-rows: 2fr 4fr;
  }
  #HOME > section:nth-child(1) > div > section:nth-child(1) {
    justify-content: start;
    align-items: end;
    padding: 0 2rem;
  }
  #HOME > section:nth-child(1) > div > section:nth-child(1) > header {
    font-size: 3rem;
  }
  #HOME > section:nth-child(1) > div > section:nth-child(2) {
    padding: 1.5rem 2rem;
    text-align: justify;
    align-items: start;
  }
  #HOME > section:nth-child(1) > div > section:nth-child(2) > header {
    font-size: 0.9rem;
  }
  #HOME > section:nth-child(2) {
    grid-template-columns: none;
    grid-template-rows: repeat(2, 1fr);
  }
  #HOME > section:nth-child(2) > div:nth-child(1) {
    justify-content: center;
    align-items: end;
    margin-right: 0;
  }
  #HOME > section:nth-child(2) > div:nth-child(1) > a {
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
  }
  #HOME > section:nth-child(2) > div:nth-child(2) {
    align-items: end;
    justify-content: center;
  }
  #HOME > section:nth-child(2) > div:nth-child(2) > button {
    padding: 0.5rem 0;
    width: 80%;
    border: 2px solid #001b2e;
    outline: none;
    color: #294c60;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 1rem 6rem;
    border-radius: 100px;
    position: relative;
    overflow: hidden;
    transition: color 0.4s ease;
  }
  #HOME > section:nth-child(2) > div:nth-child(2) > button:hover {
    z-index: 9;
    color: white;
  }
  #HOME > section:nth-child(2) > div:nth-child(2) > button:before {
    content: "";
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #294c60;
    transition: top 0.4s ease;
    z-index: -1;
  }
  #HOME > section:nth-child(2) > div:nth-child(2) > button:hover:before {
    top: 0;
  }
  #HOME > section:nth-child(2) > div:nth-child(2) > button > span {
    position: relative;
    z-index: 1;
  }
  #MAIN {
    height: 200vh;
    grid-template-columns: none;
  }
  #MAIN > section:nth-child(1) {
    order: 2;
    grid-template-rows: 1fr 8fr 1fr;
  }
  #MAIN > section:nth-child(1) > div:nth-child(1) > span {
    margin-left: 0;
    padding: 1rem 1.5rem;
  }
  #MAIN > section:nth-child(1) > div:nth-child(2) {
    padding: 1rem 1.5rem;
  }
  #MAIN > section:nth-child(2) {
    order: 1;
  }
}/*# sourceMappingURL=Introduction.css.map */