$navbarHeightDesktop: 10vh;
$navbarHeightMobile: 10vh;
$footerHeightDesktop: 20vh;
$mainPageHeightDesktop: 100vh;
$projectPageHeightDesktop: 100vh;
$aboutPageHeightDesktop: 100vh;

$primary: (
    platinum: #E5E7E6,
    silver: #B7B5B3,
    smoky_black: #141301,
    seal_brown: #6B2B06,
    eng_red: #B80C09
);

$secondary: (
    mimi-pink: #f5cce8ff,
    plum-web: #ec9dedff,
    sky-magenta: #c880b7ff,
    pomp-and-power: #9f6ba0ff,
    violet-jtc: #4a2040ff
);
$tertiary: (
    licorice: #211103ff,
    black-bean: #3d1308ff,
    timberwolf: #e4dfdaff,
    burgundy: #7b0d1eff,
    amaranth-purple: #9f2042ff
);

$quadratic: (
    oxford-blue: #001b2eff,
    charcoal: #294c60ff,
    papaya-whip: #ffefd3ff,
    french-gray: #adb6c4ff,
    peach: #ffc49bff
);