#navbar {
    height: 8vh;
    color: white;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background: transparent;

    &>a {
        transition: .2s linear;
        &:hover,
        &:first-child {
            color: #ba160c;
        }
    }
}