@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Nunito+Sans:opsz,wght@6..12,700&family=Playfair+Display:ital,wght@0,500;1,400&family=Ubuntu:wght@500&display=swap');

*{
    font-family: 'Ubuntu', sans-serif;
}
.ubuntu-fs {
    font-family: 'Ubuntu', sans-serif;
}

.nunito-fs {
    font-family: 'Nunito Sans', sans-serif;
}
.monster{
    font-family: 'Montserrat', sans-serif;
}
.playfair-fs{
    font-family: 'Playfair Display', serif;
}
body{
    background-color: #ffffff;
    color: white;
}
.m {
    // border: 2px solid red;
}
.ma{
    border: 2px solid red;
}

#canvas {
    display: grid;
    grid-template-rows: 2fr 8fr;
}