@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bubblegum+Sans&family=Expletus+Sans:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+Sharada&family=Pixelify+Sans:wght@400..700&display=swap');
@import './Pages/var';
.category-1::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: brightness(40%);
  z-index: -1;
  background-image: url('https://c4.wallpaperflare.com/wallpaper/941/249/246/japan-anime-clouds-street-bycicle-hd-wallpaper-preview.jpg');

}
* {
  font-family: 'Ubuntu', sans-serif;
  user-select: none;
}

.monster {
  font-family: 'Montserrat', sans-serif;
}

.bebas-neue {
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 400;
}

.noto-sans {
  font-family: 'Noto Sans Sharada', sans-serif;
}

.pixelify-sans {
  font-family: 'Pixelify Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
}

.expletus-sans {
  font-family: 'Expletus Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
}

.bubblegum-sans-regular {
  font-family: 'Bubblegum Sans', sans-serif;
}

.m {
  border: 2px solid red;
}

.b {
  border: 2px solid blue;
}

body {
  // background-color: map-get($primary, smoky_black);
}
